<div class="px-40">
    <div class="el-row hidden-xs-only">
        <div class="el-col el-col-24">
            <h2 class="main-title">Listings</h2>
        </div>
    </div>
    <div class="el-row hidden-xs-only">
        <div class="el-col el-col-12">
            <span><mat-icon aria-hidden="false" aria-label="search icon">search</mat-icon></span>
            <span><input class="searchStyle"></span>
        </div>
        <div class="el-col el-col-4 el-col-offset-8 d-flex-end">
            <app-sort-by (getSortBy)="getSortBy($event)"></app-sort-by>
        </div>
    </div>
    <div class="el-row" style="text-align: center; margin: 20px 0 40px 0; padding: 0 10px;">
        <div class="el-col el-col-24 el-col-xs-12">
            <app-custom-tab [tabs]="tabOptions" (getTabLicense)="getTabLicense($event)"></app-custom-tab>
        </div>
        <div class="el-col el-col-12 d-flex-end hidden-sm-and-up">
            <app-sort-by (getSortBy)="getSortBy($event)"></app-sort-by>
        </div>
    </div>
    <div class="el-row py-10">
        <div class="el-col el-col-24 d-flex-end">
            <mat-paginator 
                [length]="pagination.totalRecord"
                [pageSize]="pagination.itemPerPage"
                [pageIndex]="pagination.currentPage"
                (page)="onChangePage($event)"
                aria-label="Select page">
            </mat-paginator>
        </div>
    </div>
    <div class="el-row">
        <ng-template [ngIf]="dataList" [ngIfElse]="loading">
            <div class="el-col el-col-sm-8 el-col-xs-24 px-10" *ngFor="let product of dataList">
                <app-product-card [productDetail]="product"></app-product-card>
            </div>
        </ng-template>
        <ng-template #loading>
            <app-product-card-loader></app-product-card-loader>
        </ng-template>
    </div>
</div>
