.app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.dashboard-container {
  width: 100vw;
  height: 100vh;
}
  
.dashboard-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
  
.dashboard-sidenav {
  padding: 20px;
}
  