.dashboard-container {
  width: 100vw;
  height: 100vh;
}

.dashboard-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.dashboard-sidenav {
  padding: 20px;
}
