<div class="px-40">
    <div class="el-row hidden-xs-only">
        <div class="el-col el-col-24">
            <h2 class="main-title">Dashboard</h2>
        </div>
    </div>
    <div class="el-row">
        <div class="el-col el-col-8 el-col-xs-24">
            <div style="text-align: center; margin: 4em 0;">
                <p class="sub-title">New Listings</p>
                <app-new-listings></app-new-listings>
            </div>
        </div>
        <div class="el-col el-col-8 el-col-xs-24">
            <div style="text-align: center; margin: 4em 0;">
                <p class="sub-title">Purchases</p>
                <app-purchases></app-purchases>
            </div>
        </div>
        <div class="el-col el-col-8 el-col-xs-24">
            <div style="text-align: center; margin: 4em 0;">
                <p class="sub-title">Payments</p>
                <app-payments></app-payments>
            </div>
        </div>
    </div>
</div>