<div class="px-40">
    <div class="el-row hidden-xs-only">
        <div class="el-col el-col-24">
            <h2 class="main-title">Settings</h2>
        </div> 
    </div>
    <div class="el-row" style="margin-bottom:10px;">
        <div class="el-col el-col-24">
            <mat-accordion>
                <mat-expansion-panel 
                    (opened)="logoPanel = true"
                    (closed)="logoPanel = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Marketplace Logo</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>Upload a logo in .jpg or .png format.</div>
                    <div class="el-row">
                        <div class="el-col el-col-6 el-col-xs-24" style="text-align: center; margin-top: 20px;">
                            <div style="border: 1px solid #C4C4C4; padding: 20px 10px;">
                                <h1 class="custom-menu-title">XMarketplace</h1>
                            </div>
                        </div>
                        <div class="el-col el-col-12 d-flex-center mobile-center">
                            <div><u>Upload a new logo</u></div>
                        </div>
                    </div>
                    <div class="el-row mobile-center">
                        <div class="el-col el-col-6 el-col-xs-24">
                            <div style="text-align: center;"><u>marketplacelogo.png</u></div>
                        </div>
                    </div>
                    <div class="el-row mobile-center" style="margin-top: 15px;">
                        <div class="el-col el-col-24 el-col-xs-24" style="text-align: right">
                            <span class="mobile-center">
                                <button class="font-bold discard-btn custom-btn">
                                    DISCARD
                                </button>
                                <button class="font-bold save-btn custom-btn">
                                    SAVE
                                </button>
                            </span>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <div class="el-row" style="margin-bottom:10px;">
        <div class="el-col el-col-24">
            <mat-accordion>
                <mat-expansion-panel 
                    (opened)="paymentPanel = true"
                    (closed)="paymentPanel = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Payment Modes</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>Select the payment modes that buyers can pay with.</div>
                    <div class="el-row">
                        <div class="el-col el-col-4 el-col-xs-24">
                            <mat-checkbox [(ngModel)]="binance">Binance</mat-checkbox>
                            <mat-checkbox [(ngModel)]="enjin">Enjin</mat-checkbox>
                            <mat-checkbox [(ngModel)]="trustWallet">Trust Wallet</mat-checkbox>
                        </div>
                    </div>
                    <div class="el-row mobile-center" style="margin-top: 15px;">
                        <div class="el-col el-col-24 el-col-xs-24" style="text-align: right">
                            <span class="mobile-center">
                                <button class="font-bold discard-btn custom-btn">
                                    DISCARD
                                </button>
                                <button class="font-bold save-btn custom-btn">
                                    SAVE
                                </button>
                            </span>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <div class="el-row" style="margin-bottom:10px;">
        <div class="el-col el-col-24">
            <mat-accordion>
                <mat-expansion-panel 
                    (opened)="comissionPanel = true"
                    (closed)="comissionPanel = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Commission Percentage</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>Upload a logo in .jpg or .png format.</div>
                    <div class="el-row">
                        <div class="el-col el-col-6 el-col-xs-24" style="text-align: center; margin-top: 20px;">
                            <div style="border: 1px solid #C4C4C4; padding: 20px 10px;">
                                <h1 class="custom-menu-title">XMarketplace</h1>
                            </div>
                        </div>
                        <div class="el-col el-col-12 d-flex-center mobile-center">
                            <div><u>Upload a new logo</u></div>
                        </div>
                    </div>
                    <div class="el-row mobile-center">
                        <div class="el-col el-col-6 el-col-xs-24">
                            <div style="text-align: center;"><u>marketplacelogo.png</u></div>
                        </div>
                    </div>
                    <div class="el-row mobile-center" style="margin-top: 15px;">
                        <div class="el-col el-col-24 el-col-xs-24" style="text-align: right">
                            <span class="mobile-center">
                                <button class="font-bold discard-btn custom-btn">
                                    DISCARD
                                </button>
                                <button class="font-bold save-btn custom-btn">
                                    SAVE
                                </button>
                            </span>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>