
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ng-xm-mpadmin-primary: mat.define-palette(mat.$indigo-palette);
$ng-xm-mpadmin-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ng-xm-mpadmin-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ng-xm-mpadmin-theme: mat.define-light-theme((
  color: (
    primary: $ng-xm-mpadmin-primary,
    accent: $ng-xm-mpadmin-accent,
    warn: $ng-xm-mpadmin-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ng-xm-mpadmin-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Your custom variables
$mobile-view: 992px;
// $font-family-roboto: 'Roboto', Helvetica, Arial, sans-serif;
$font-family-montserrat: 'Montserrat';
$font-family-prompt: 'Prompt';
$form-border-radius: 50px;
$--color-primary-bg: #ffffff;
$--color-primary: #000000;
$--color-secondary: #C4C4C4;
$--font-size: 16px;
$--font-style: normal;
$--font-weight: 700;
$--line-height: 29px;
$--letter-spacing: 0em;
$--text-align: center;

a {
  text-decoration: unset !important;
  color: initial !important;
}

body {
  margin     : 0 !important;
  padding    : 0 !important;
  font-family: $font-family-prompt !important;
  font-style : normal !important;
  font-weight: 300 !important;
  font-size  : 16px !important;
}

.fm-montserrat {
  font-family: $font-family-montserrat !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.font-bold {
  font-weight: bold !important;
}

.font-m {
  font-family: $font-family-montserrat;
}

[class*=el-col-] {
  float: left !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

.px-10 {
  padding: 0 10px !important;
}

.px-40 {
  padding: 0 40px !important;
}

.py-4 {
  padding: 4px 0 !important;
}

.d-flex {
  display: flex !important;
}

.d-flex-column {
  display: flex !important;
  flex-direction: column !important;
}

.d-flex-center {
  display: flex !important;
  align-items: center !important;
}

.d-justify-content {
  justify-content: space-around !important;
  @media only screen and (max-width: 768px) {
    justify-content: unset !important;
  }
}

.sub-label-light {
  font-style    : normal !important;
  font-weight   : 300 !important;
  line-height   : 18px !important;
  letter-spacing: 0em !important;
  font-size: 16px !important;
}

.h-100 {
  height: 100% !important;
}

.el-row {
  display: flex !important;
  flex-wrap: wrap !important;
  position: relative !important;
  box-sizing: border-box !important;
}

.el-col {
  float: left !important;
  box-sizing: border-box !important;
}

.el-col-4 {
  max-width: 16.6666666667% !important;
  -webkit-box-flex: 0 !important;
  -ms-flex: 0 0 16.6666666667% !important;
  flex: 0 0 16.6666666667% !important;
}

.el-col-6 {
  max-width: 25% !important;
  -webkit-box-flex: 0 !important;
  -ms-flex: 0 0 25% !important;
  flex: 0 0 25% !important;
}

.el-col-8 {
  max-width: 33.3333333333% !important;
  -webkit-box-flex: 0 !important;
  -ms-flex: 0 0 33.3333333333% !important;
  flex: 0 0 33.3333333333% !important;
}

.el-col-12 {
  max-width: 50% !important;
  -webkit-box-flex: 0 !important;
  -ms-flex: 0 0 50% !important;
  flex: 0 0 50% !important;
}

.el-col-24 {
  max-width: 100% !important;
  -webkit-box-flex: 0 !important;
  flex: 0 0 100% !important;
}

.el-col-offset-1 {
  margin-left: 4.1666666667% !important;
}

.el-col-offset-8 {
  margin-left: 33.3333333333% !important;
}

.el-col-offset-16 {
  margin-left: 66.6666666667% !important;
}

.main-title {
  font-weight: 700 !important;
  font-family: $font-family-montserrat !important;
  font-size: 24px !important;
}

.sub-title {
  font-weight: 700 !important;
  font-family: $font-family-montserrat !important;
  font-size: 20px !important;
}

// Custom Button
.custom-btn {
  font-family   : $font-family-montserrat !important;
  font-style    : normal !important;
  font-weight   : bold !important;
  font-size     : 16px !important;
  text-transform: uppercase !important;
  padding       : 8px 22px !important;
  min-height    : 36px !important;
  white-space   : unset !important;

  &.is-disabled {
    opacity: 0.6 !important;
  }
}

/* mobile center */
.mobile-center {
  @media only screen and (max-width: 768px) {
    display: flex !important;
    justify-content: center !important;
  }
}

/* Menu Title */
.custom-menu-title {
  background-color: $--color-secondary !important;
  font-family: $font-family-montserrat !important;
  font-weight: 700 !important;
  font-size: 24px !important;
}

@media only screen and (max-width: 992px) {
  .hidden-sm-and-down {
    display: none !important;
  }
}


@media only screen and (max-width: 768px) {
  .el-col-xs-offset-0 {
    margin-left: 0 !important;
  }
  .el-col-xs-12 {
    display: block !important;
    max-width: 50% !important;
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 50% !important;
    flex: 0 0 50% !important;
  }
  .el-col-xs-24 {
    display: block !important;
    max-width: 100% !important;
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
  }
}

@media only screen and (min-width: 768px) {
  .hidden-sm-and-up {
      display: none !important;
  }
  .el-col-sm-8 {
    display: block;
    max-width: 33.3333333333% !important;
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 33.3333333333% !important;
    flex: 0 0 33.3333333333% !important;
  }
  .el-col-sm-24 {
    display: block !important;
    max-width: 100% !important;
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
  }
}
